[submodule "themes/sk1"]
	path = themes/sk1
	url = https://github.com/J-Siu/hugo-theme-sk1
[submodule "themes/code-zoia"]
	path = themes/code-zoia
	url = https://github.com/robertozoia/hugo-theme-code-zoia.git
